<html><head></head><body><div class="container-fluid">
  <h4>Static arrays</h4>
    <pre>Model: {{selected}}
Selected Item: {{selectedItem}}</pre>
  <n2s-type-ahead [(ngmodel)]="selected" [source]="statesComplex" [(selecteditem)]="selectedItem" (selecteditemchange)="typeaheadOnSelect($event)" [optionfield]="'name'">
    <template n2s-renderer="">
      {{item['name']}}
    </template>
  </n2s-type-ahead>

  <h4>Asynchronous results</h4>
    <pre>Model: {{selectedAsync}}
Selected Item: {{selectedItemAsync}}</pre>
  <n2s-type-ahead [(ngmodel)]="selectedAsync" [source]="getAsyncData" [(selecteditem)]="selectedItemAsync" (loading)="changeTypeaheadLoading($event)" (noresults)="changeTypeaheadNoResults($event)" (select)="typeaheadOnSelect($event)" [optionslimit]="7" placeholder="Locations loaded with timeout"></n2s-type-ahead>
  <div [hidden]="typeaheadLoading!==true">
    <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
  </div>
  <div [hidden]="typeaheadNoResults!==true" class="" style="">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>
</div>
</body></html>