<html><head></head><body><n2s-alert [closeable]="true">This alert is closeable/dismissible</n2s-alert>
<n2s-alert type="info">This alert is info</n2s-alert>

<n2s-alert *ngfor="#alert of alerts;#i = index" [type]="alert['type']" (close)="closeAlert(i)" [closeable]="alert['closable']">
  {{ alert['msg'] }}
</n2s-alert>

<n2s-alert [dismissontimeout]="3000">This alert will dismiss in 3s</n2s-alert>

<button type="button" class="btn btn-primary" (click)="addAlert()">Add Alert</button>
</body></html>